@charset "UTF-8";
/*   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg"); }
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-facebook-f:before, .fa-facebook:before {
  content: "яВЪ";
  font-size: 20px; }

.fa-twitter:before {
  content: "яВЩ";
  font-size: 20px; }

.fa-linkedin:before {
  content: "яГб";
  font-size: 20px; }

/****homepage** */
body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px; }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }
    body a:focus {
      text-decoration: none; }

.home_nav_section {
  position: relative; }
  .home_nav_section .background_home {
    width: 100%; }
  .home_nav_section .menu_logo_login {
    position: absolute;
    top: 10.5%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    left: 5.5%;
    right: 5.5%;
    align-items: center;
    z-index: 2; }
    .home_nav_section .menu_logo_login ul li {
      display: inline-block;
      margin-right: 25px; }
      .home_nav_section .menu_logo_login ul li a {
        display: block;
        font: 700 1.3em "Raleway", sans-serif;
        color: #fff;
        cursor: pointer;
        line-height: 2em;
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        transition: border-bottom-color 0.5s ease;
        /*hover************************************ */ }
        .home_nav_section .menu_logo_login ul li a:hover {
          text-decoration: none;
          border-bottom-color: #fff; }
    .home_nav_section .menu_logo_login .logo {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0; }
  .home_nav_section .login_button {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 2em;
    line-height: 2em;
    border-bottom: 2px solid #fff;
    padding: 0 10px;
    cursor: pointer;
    transition: border-bottom-color 0.5s ease;
    /*hover************************************ */ }
    .home_nav_section .login_button:hover {
      border-bottom-color: transparent; }
  .home_nav_section form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center; }
  .home_nav_section .search_box {
    border-bottom: 2px solid #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
    padding: 0 14px;
    margin-top: 42px; }
  .home_nav_section .search_sumbit {
    background: url(../images/search.png) no-repeat;
    border: none;
    background-size: contain;
    padding: 0;
    background-position-y: 58%;
    width: 35px;
    outline: none;
    cursor: pointer;
    height: 127px;
    margin-right: 42px; }
  .home_nav_section input {
    border: none;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    outline: none;
    font: 900 4em/2em "Playfair Display", serif;
    -webkit-appearance: none;
    background: transparent; }
    .home_nav_section input::-webkit-input-placeholder {
      text-align: left;
      color: #fff;
      font: 900 43px/60px "Playfair Display", serif; }
    .home_nav_section input::-moz-placeholder {
      text-align: left;
      color: #fff;
      font: 900 43px "Playfair Display", serif; }
@-moz-document url-prefix() {
  .home_nav_section input::-moz-placeholder {
    line-height: 3em;
    vertical-align: middle;
    height: 2em; } }
    .home_nav_section input:-moz-placeholder {
      text-align: left;
      color: #fff;
      font: 900 43px/60px "Playfair Display", serif; }
@-moz-document url-prefix() {
  .home_nav_section input:-moz-placeholder {
    line-height: 3em;
    vertical-align: middle;
    height: 2em; } }
    .home_nav_section input:-ms-input-placeholder {
      text-align: left;
      color: #fff;
      font: 900 43px/60px "Playfair Display", serif; }
  .home_nav_section input[type="search"]:focus {
    outline: none; }
  .home_nav_section input[type="search"]::-webkit-search-cancel-button {
    display: none; }

/*section */
.bring_visual_value {
  background-color: #fff;
  width: 83%;
  margin: 0 auto;
  padding-top: 18%;
  padding-bottom: 9.5%;
  position: relative; }
  .bring_visual_value .left_side {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-right: 20px;
    margin-top: 8%; }
@-moz-document url-prefix() {
  .bring_visual_value .left_side {
    margin-top: 8em; } }
  .bring_visual_value .right_side {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    width: 37%;
    margin-top: -15%; }
@-moz-document url-prefix() {
  .bring_visual_value .right_side {
    margin-top: -10em; } }
  .bring_visual_value .text_visual_value {
    border: 7px solid #CEE8D6;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    padding: 0 9%;
    padding-top: 8%;
    padding-bottom: 7.5%;
    position: relative;
    justify-content: space-between;
    flex-flow: wrap; }
    .bring_visual_value .text_visual_value .image_visual_value {
      margin-top: -25%;
      width: 55%;
      order: -2; }
@-moz-document url-prefix() {
  .bring_visual_value .text_visual_value .image_visual_value {
    margin-top: -25em; } }
      .bring_visual_value .text_visual_value .image_visual_value img {
        max-width: 712px;
        width: 100%; }
    .bring_visual_value .text_visual_value h2 {
      color: #CEE8D6;
      font: 700 6.7em "Raleway", sans-serif;
      align-self: flex-start; }
    .bring_visual_value .text_visual_value p {
      color: #2E3B4D;
      font: 500 2em "Raleway", sans-serif;
      letter-spacing: 0.05em;
      line-height: 1.5em;
      max-width: 627px;
      width: 100%; }
      .bring_visual_value .text_visual_value p span {
        font-weight: 700; }

/*section */
.featured_images_home {
  background-color: #EAD9CE;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: wrap;
  padding: 0 12%;
  padding-top: 9.4%;
  padding-left: 15%; }
  .featured_images_home img {
    width: 100%; }
  .featured_images_home .text_featured_images_home {
    width: 44%;
    position: relative;
    margin-bottom: 2%; }
@-moz-document url-prefix() {
  .featured_images_home .text_featured_images_home {
    margin-bottom: 2em; } }
  .featured_images_home .img_featured_1 {
    width: 54%;
    margin-bottom: 2%; }
@-moz-document url-prefix() {
  .featured_images_home .img_featured_1 {
    margin-bottom: 2em; } }
  .featured_images_home .img_featured_2 {
    width: 42%;
    margin-right: 2%; }
  .featured_images_home .img_featured_3 {
    width: 26%;
    margin-right: 2%; }
  .featured_images_home .img_featured_4 {
    width: 26%; }
  .featured_images_home h2 {
    font: 700 6.7em "Raleway", sans-serif;
    color: #fff;
    border: 7px solid #fff;
    position: absolute;
    right: -12%;
    top: 14%;
    padding: 11% 16%;
    bottom: 15%;
    left: 0; }
  .featured_images_home p {
    width: 100%;
    text-align: center;
    margin-top: 9.5%;
    margin-right: 5%;
    margin-bottom: 14%; }
@-moz-document url-prefix() {
  .featured_images_home p {
    margin-bottom: 14em;
    margin-top: 9.5em; } }
    .featured_images_home p a {
      font: 900 2.2em "Playfair Display", serif;
      color: #2E3B4D;
      border-bottom-color: #2E3B4D;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      transition: border-bottom-color 0.5s ease;
      display: inline-block;
      line-height: 2.4em;
      /*hover************************************ */ }
      .featured_images_home p a:hover {
        border-bottom-color: transparent; }

/*section */
.featured_categories {
  background: #fff;
  padding: 0 6%;
  padding-top: 12%;
  padding-bottom: 37.5%; }
  .featured_categories .text_featured_categories_home {
    border: 7px solid #EAD9CE;
    padding-top: 8.5%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 30%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex; }
    .featured_categories .text_featured_categories_home h2 {
      font: 700 6.7em "Raleway", sans-serif;
      color: #2E3B4D;
      width: 33%;
      margin-right: 6%;
      padding-left: 12%; }
    .featured_categories .text_featured_categories_home p {
      color: #2E3B4D;
      font: 500 2em "Raleway", sans-serif;
      letter-spacing: 0.05em;
      line-height: 1.5em;
      max-width: 627px;
      width: 100%; }
      .featured_categories .text_featured_categories_home p span {
        font-weight: 700; }
  .featured_categories .images_featured_categories {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-around;
    margin-top: -21.5%;
    padding-left: 5%;
    padding-right: 5%; }
    .featured_categories .images_featured_categories div {
      position: relative;
      width: 31%; }
    .featured_categories .images_featured_categories p {
      font: 700 2.5em "Raleway", sans-serif;
      color: #2E3B4D;
      margin-top: 9%; }
    .featured_categories .images_featured_categories a {
      display: block; }
    .featured_categories .images_featured_categories span {
      font: 500 1.4em "Raleway", sans-serif;
      position: absolute;
      right: 7%;
      top: 4.5%;
      color: #fff; }
    .featured_categories .images_featured_categories .not_white_color {
      color: #2E3B4D; }
    .featured_categories .images_featured_categories img {
      width: 100%;
      -webkit-box-shadow: 26px 22px 57px -16px rgba(46, 59, 77, 0.92);
      -moz-box-shadow: 26px 22px 57px -16px rgba(46, 59, 77, 0.92);
      box-shadow: 26px 22px 57px -16px rgba(46, 59, 77, 0.92); }

/***section* */
.lets_be_friends {
  background-color: #2E3B4D;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  padding: 0 11%; }
  .lets_be_friends .left_side_lets_be_friends {
    width: 40%;
    position: relative; }
    .lets_be_friends .left_side_lets_be_friends h2 {
      font: 700 4em "Raleway", sans-serif;
      border: 7px solid #EAD9CE;
      color: #EAD9CE;
      margin-top: -48%;
      padding-top: 20%;
      padding-bottom: 26%;
      position: absolute;
      left: 0;
      right: -13%;
      text-align: center; }
    .lets_be_friends .left_side_lets_be_friends p {
      font: 500 2em "Raleway", sans-serif;
      color: #fff;
      margin-top: 33%;
      max-width: 536px;
      letter-spacing: 0.05em;
      width: 100%;
      margin-bottom: 10%;
      margin-bottom: 5%;
      line-height: 1.5em; }
    .lets_be_friends .left_side_lets_be_friends a {
      font: 900 2.2em "Playfair Display", serif;
      color: #EAD9CE;
      border-bottom-color: #EAD9CE;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      transition: border-bottom-color 0.5s ease;
      display: inline-block;
      line-height: 2.4em;
      /*hover************************************ */ }
      .lets_be_friends .left_side_lets_be_friends a:hover {
        border-bottom-color: transparent; }
  .lets_be_friends .right_side_lets_be_friends {
    width: 60%;
    margin-top: -14%;
    margin-bottom: 13.3%; }
@-moz-document url-prefix() {
  .lets_be_friends .right_side_lets_be_friends {
    margin-top: -14em;
    margin-bottom: 13.3em; } }
    .lets_be_friends .right_side_lets_be_friends img {
      width: 100%;
      -webkit-box-shadow: 26px 22px 57px -16px rgba(0, 0, 0, 0.92);
      -moz-box-shadow: 26px 22px 57px -16px rgba(0, 0, 0, 0.92);
      box-shadow: 26px 22px 57px -16px rgba(0, 0, 0, 0.92); }

/***section*** */
.contact_us {
  background-color: #CEE8D6;
  padding-left: 4%;
  padding-right: 2%;
  padding-top: 3.5%;
  justify-content: space-between;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  padding-bottom: 4%; }
  .contact_us div {
    width: 33%; }
  .contact_us .logo_contact {
    text-align: center;
    margin-top: 1.5%;
    margin-right: 4%; }
    .contact_us .logo_contact a {
      display: block; }
      .contact_us .logo_contact a img {
        width: 102px; }
  .contact_us .company_pr {
    margin-bottom: 16%; }
    .contact_us .company_pr li {
      margin-bottom: 2%; }
    .contact_us .company_pr a {
      font: 700 1.4em "Raleway", sans-serif;
      color: #2E3B4D;
      display: inline-block;
      line-height: 2.5em;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      transition: border-bottom-color 0.5s ease;
      /*hover************************************ */ }
      .contact_us .company_pr a:hover {
        text-decoration: none;
        border-bottom-color: #2E3B4D; }
  .contact_us p {
    font: 500 1.4em "Raleway", sans-serif;
    color: #2E3B4D;
    margin-bottom: 2%; }
  .contact_us h3 {
    font: 700 2.5em "Raleway", sans-serif;
    color: #2E3B4D;
    max-width: 373px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 13%;
    margin-bottom: 10%; }
  .contact_us .link_contact a {
    font: 900 1.7em "Playfair Display", serif;
    color: #2E3B4D;
    border-bottom-color: #2E3B4D;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.5s ease;
    display: inline-block;
    line-height: 2.4em;
    /*hover************************************ */ }
    .contact_us .link_contact a:hover {
      border-bottom-color: transparent; }
  .contact_us .social_link {
    margin-right: 2%;
    margin-top: 2%; }
    .contact_us .social_link li {
      text-align: right;
      margin-bottom: 3.4%; }
    .contact_us .social_link a {
      color: #2E3B4D;
      transition: color 0.5s ease;
      /*hover************************************ */ }
      .contact_us .social_link a:hover {
        color: #51719D; }
      .contact_us .social_link a:focus {
        color: #51719D; }

/****end homepage** */
/*****about**** */
.home_nav_section.about .about_text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 20%; }
  .home_nav_section.about .about_text h2 {
    font: 700 6.7em "Raleway", sans-serif;
    color: #fff;
    margin-bottom: 5.5%; }
  .home_nav_section.about .about_text p {
    font: 500 2em "Raleway", sans-serif;
    color: #fff;
    padding: 0 14.5%;
    letter-spacing: 0.05em; }

.featured_categories.about {
  padding-bottom: 27.5%;
  padding-top: 7%; }
  .featured_categories.about .text_featured_categories_home {
    border-color: #CEE8D6;
    padding-top: 5%; }
    .featured_categories.about .text_featured_categories_home h2 {
      width: 100%;
      padding-left: 4%; }
  .featured_categories.about .images_featured_categories {
    margin-top: -25.5%; }
    .featured_categories.about .images_featured_categories div {
      background-color: #CEE8D6; }
      .featured_categories.about .images_featured_categories div h4 {
        font: 700 2.5em "Raleway", sans-serif;
        color: #2E3B4D;
        padding-top: 15.5%;
        padding-left: 13%; }
      .featured_categories.about .images_featured_categories div p {
        font: 500 1.7em "Raleway", sans-serif;
        color: #2E3B4D;
        margin-top: 13%;
        padding-right: 20%;
        padding-left: 13%;
        line-height: 1.4em;
        margin-bottom: 22%; }

.frequently_asked_questions {
  padding: 0 14.5%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  color: #2E3B4D;
  padding-top: 7.5%; }
  .frequently_asked_questions .left_side {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 11%; }
  .frequently_asked_questions .right_side {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .frequently_asked_questions .right_side div {
      margin-left: 9%; }
      .frequently_asked_questions .right_side div p {
        width: 98%; }
  .frequently_asked_questions h2 {
    font: 700 3.3em "Raleway", sans-serif;
    width: 100%;
    margin-bottom: 5%; }
@-moz-document url-prefix() {
  .frequently_asked_questions h2 {
    margin-bottom: 0.5em; } }
  .frequently_asked_questions h4 {
    font: 700 2em "Raleway", sans-serif;
    margin-bottom: 7%; }
  .frequently_asked_questions p {
    font: 500 2em "Raleway", sans-serif;
    width: 82%;
    line-height: 1.4em;
    margin-bottom: 12%; }
    .frequently_asked_questions p a {
      display: inline-block;
      color: #2E3B4D;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #2E3B4D;
      transition: border-bottom-color 0.5s ease;
      /*hover************************************ */ }
      .frequently_asked_questions p a:hover {
        text-decoration: none;
        border-bottom-color: transparent; }

.more_answers {
  background-color: #CEE8D6;
  padding: 2% 14%;
  display: flex;
  justify-content: space-between; }
  .more_answers p {
    font: 700 2em "Raleway", sans-serif;
    color: #2E3B4D;
    line-height: 2em; }
    .more_answers p a {
      display: inline-block;
      line-height: 2em;
      color: #2E3B4D;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: #2E3B4D;
      transition: border-bottom-color 0.5s ease;
      /*hover************************************ */ }
      .more_answers p a:hover {
        text-decoration: none;
        border-bottom-color: transparent; }

.white_space_contributor {
  background-color: #fff;
  min-height: 1px;
  margin-bottom: 27.5%; }
@-moz-document url-prefix() {
  .white_space_contributor {
    margin-bottom: 37em; } }
.lets_be_friends.about.contributor {
  padding: 0 10%; }
  .lets_be_friends.about.contributor .left_side_lets_be_friends {
    width: 41%; }
    .lets_be_friends.about.contributor .left_side_lets_be_friends h2 {
      padding-top: 17%;
      padding-bottom: 20%;
      left: 7%;
      padding-right: 11%; }
    .lets_be_friends.about.contributor .left_side_lets_be_friends p {
      margin-top: 24%;
      max-width: 460px;
      padding-left: 7%;
      margin-bottom: 0; }
    .lets_be_friends.about.contributor .left_side_lets_be_friends span {
      padding-left: 7%; }
  .lets_be_friends.about.contributor .right_side_lets_be_friends {
    width: 59%;
    margin-top: -14%;
    margin-bottom: 12.6%; }
@-moz-document url-prefix() {
  .lets_be_friends.about.contributor .right_side_lets_be_friends {
    margin-bottom: 7em;
    margin-top: -11em; } }
/*****end about**** */
/*****membership* */
.featured_categories.about.membership {
  padding-bottom: 10.5%; }
  .featured_categories.about.membership .text_featured_categories_home {
    border-color: #EAD9CE; }
  .featured_categories.about.membership .images_featured_categories p {
    margin-top: 10%;
    margin-bottom: 18%; }
  .featured_categories.about.membership .images_featured_categories div {
    background-color: #EAD9CE; }
    .featured_categories.about.membership .images_featured_categories div .price {
      font-weight: 700;
      font-size: 8em;
      margin-top: 8%;
      margin-bottom: 1%; }
      .featured_categories.about.membership .images_featured_categories div .price span {
        position: relative;
        color: #2E3B4D;
        font-weight: 700;
        right: 4%;
        font-size: 0.7em; }
  .featured_categories.about.membership .images_featured_categories .text {
    margin-top: 0;
    margin-bottom: 9%; }
  .featured_categories.about.membership .images_featured_categories a {
    font: 900 1.2em "Playfair Display", serif;
    color: #2E3B4D;
    line-height: 2em;
    display: inline-block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #2E3B4D;
    transition: border-bottom-color 0.5s ease;
    /*hover************************************ */ }
    .featured_categories.about.membership .images_featured_categories a:hover {
      text-decoration: none;
      border-bottom-color: transparent; }

.frequently_asked_questions.membership {
  background-color: #CEE8D6; }
  .frequently_asked_questions.membership .left_side {
    margin-bottom: 8.5%; }
  .frequently_asked_questions.membership p {
    line-height: 1.2em; }

.bring_visual_value.membership {
  padding-top: 13%;
  padding-left: 22%;
  padding-right: 12%;
  width: auto; }
  .bring_visual_value.membership .text_visual_value {
    padding: 0;
    padding-top: 6%;
    padding-bottom: 6%; }
    .bring_visual_value.membership .text_visual_value .image_visual_value {
      margin-top: 0;
      width: 58%;
      margin-left: -15%; }
  .bring_visual_value.membership .right_side {
    color: #2E3B4D;
    width: 48%;
    margin-left: 5%;
    margin-top: 5%;
    flex-direction: column; }
    .bring_visual_value.membership .right_side .location {
      font: 700 2em "Raleway", sans-serif; }
    .bring_visual_value.membership .right_side .name {
      font: 700 4em "Raleway", sans-serif;
      margin-top: 2%;
      margin-bottom: 7%; }
    .bring_visual_value.membership .right_side .description {
      font: 500 2em "Raleway", sans-serif;
      max-width: 452px;
      line-height: 1.5em; }

.white_space_contributor.membership {
  margin-bottom: 21.5%; }

.lets_be_friends.about.contributor.membership .left_side_lets_be_friends h2 {
  text-align: left;
  padding-left: 18%; }
  .lets_be_friends.about.contributor.membership .left_side_lets_be_friends h2 span {
    display: block;
    padding: 0; }
.lets_be_friends.about.contributor.membership .left_side_lets_be_friends p {
  margin-top: 22%; }

/*****end membership* */
/****photographer*** */
.home_nav_section.photographer {
  background-color: #EAD9CE;
  line-height: 99px;
  height: 133px;
  vertical-align: middle; }
  .home_nav_section.photographer .menu_logo_login {
    position: relative;
    left: 0;
    right: 0;
    padding-left: 3%;
    padding-right: 3%; }
    .home_nav_section.photographer .menu_logo_login a:hover {
      color: #2E3B4D;
      border-bottom-color: #2E3B4D; }
    .home_nav_section.photographer .menu_logo_login .login_button:hover {
      color: #2E3B4D; }
    .home_nav_section.photographer .menu_logo_login .logo {
      bottom: 0; }

.bring_visual_value.photographer {
  padding-top: 9%;
  padding-bottom: 8%; }
  .bring_visual_value.photographer .text_visual_value {
    margin-top: 0.5%;
    padding-top: 9%;
    padding-bottom: 9%; }
    .bring_visual_value.photographer .text_visual_value .image_visual_value {
      width: 36%; }
      .bring_visual_value.photographer .text_visual_value .image_visual_value img {
        max-width: 360px; }
  .bring_visual_value.photographer .right_side {
    width: 65%;
    margin-top: 0;
    margin-right: 5%; }
    .bring_visual_value.photographer .right_side .location {
      font-size: 1.4em; }
    .bring_visual_value.photographer .right_side .name {
      margin-bottom: 4%; }
    .bring_visual_value.photographer .right_side .description {
      max-width: 717px;
      margin-bottom: 5%; }
  .bring_visual_value.photographer ul {
    font: 900 1.7em "Playfair Display", serif; }
    .bring_visual_value.photographer ul li {
      margin-right: 7%;
      display: inline-block; }
      .bring_visual_value.photographer ul li a {
        display: inline-block;
        border-bottom-width: 2px;
        line-height: 2em;
        color: #2E3B4D;
        border-bottom-style: solid;
        border-bottom-color: #2E3B4D;
        transition: border-bottom-color 0.5s ease;
        /*hover************************************ */ }
        .bring_visual_value.photographer ul li a:hover {
          text-decoration: none;
          border-bottom-color: transparent; }

.featured_images_home.photographer {
  background-color: #f3f3f3;
  padding-top: 7%; }
  .featured_images_home.photographer h3 {
    font: 700 2.5em "Raleway", sans-serif;
    color: #2E3B4D;
    text-align: center;
    width: 100%;
    margin-bottom: 5%; }
@-moz-document url-prefix() {
  .featured_images_home.photographer h3 {
    margin-bottom: 1em; } }
  .featured_images_home.photographer .text_featured_images_home {
    width: 100%;
    display: flex;
    flex-flow: wrap; }
    .featured_images_home.photographer .text_featured_images_home .img_featured_1 {
      width: 42%; }
  .featured_images_home.photographer p {
    margin-top: 3.5%;
    margin-right: 0;
    margin-bottom: 9%; }
@-moz-document url-prefix() {
  .featured_images_home.photographer p {
    margin-bottom: 4em; } }
.white_space_contributor.photographer {
  margin-bottom: 23.5%;
  /****end photographer*** */
  /**article*** */ }

.home_nav_section.article .menu_logo_login {
  top: 5.5%;
  left: 3%;
  right: 3%; }

.article_note {
  display: flex;
  padding-top: 8.5%;
  padding-left: 9.5%;
  padding-right: 9%; }
  .article_note .left_side {
    width: 37%;
    margin-right: 13%; }
    .article_note .left_side p {
      color: #2E3B4D;
      font: 700 3.5em "Raleway", sans-serif;
      margin-bottom: 9%; }
    .article_note .left_side .date {
      font-size: 1.5em; }
  .article_note .right_side {
    width: 50%; }
    .article_note .right_side img {
      width: 100%; }
    .article_note .right_side .first_img_article {
      margin-bottom: 9%;
      margin-top: 6%; }
    .article_note .right_side .second_img_article {
      max-width: 536px;
      padding-top: 12%;
      padding-bottom: 11%; }
    .article_note .right_side p {
      color: #2E3B4D;
      font: 500 2.5em "Raleway", sans-serif;
      padding-right: 8%; }
      .article_note .right_side p span {
        font-weight: 700; }

.bring_visual_value.article {
  padding-top: 4%;
  padding-bottom: 2.5%;
  width: 60%;
  padding-right: 3%; }
  .bring_visual_value.article .text_visual_value {
    border-color: #EAD9CE;
    padding: 0 13%;
    padding-top: 8%;
    padding-bottom: 7.5%; }
    .bring_visual_value.article .text_visual_value h3 {
      color: #EAD9CE;
      font: 700 3.5em "Raleway", sans-serif; }

.anithing_else {
  display: flex;
  justify-content: flex-end;
  padding: 4% 11%;
  background-color: #fff; }
  .anithing_else div {
    width: 50%; }
  .anithing_else p {
    font: 500 2.5em "Raleway", sans-serif; }
  .anithing_else .title {
    font-weight: 700;
    margin-bottom: 5%; }

.share_user {
  display: flex;
  padding: 3.5% 9%;
  justify-content: space-between;
  background-color: #fff;
  padding-bottom: 10%; }
  .share_user .left_side {
    width: 40%;
    margin-right: 8%;
    padding-top: 3%; }
@-moz-document url-prefix() {
  .share_user .left_side {
    padding-top: 3em; } }
    .share_user .left_side p {
      font: 700 16px "Raleway", sans-serif;
      color: #2E3B4D;
      margin-bottom: 19px; }
    .share_user .left_side ul li {
      display: inline-block;
      margin-right: 30px; }
      .share_user .left_side ul li a {
        color: #2E3B4D;
        transition: color 0.5s ease; }
        .share_user .left_side ul li a:hover {
          color: #51719D; }
        .share_user .left_side ul li a:focus {
          color: #51719D; }
  .share_user .right_side {
    width: 50%;
    margin-left: 2%; }
    .share_user .right_side img {
      max-width: 132px;
      width: 100%;
      float: left; }
    .share_user .right_side div {
      display: inline-block;
      margin-top: 4%;
      margin-left: 6%; }
    .share_user .right_side h6 {
      font: 700 2.5em "Raleway", sans-serif;
      margin-bottom: 7px; }
    .share_user .right_side p {
      font: 500 1.5em "Raleway", sans-serif; }
      .share_user .right_side p a {
        display: inline-block;
        border-bottom-width: 1px;
        color: #2E3B4D;
        border-bottom-style: solid;
        border-bottom-color: #2E3B4D;
        transition: border-bottom-color 0.5s ease;
        /*hover************************************ */ }
        .share_user .right_side p a:hover {
          text-decoration: none;
          border-bottom-color: transparent; }

.more_answers.article {
  justify-content: center;
  background-color: #2E3B4D; }
  .more_answers.article a {
    color: #fff;
    display: inline-block;
    line-height: 2em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    transition: border-bottom-color 0.5s ease;
    /*hover************************************ */ }
    .more_answers.article a:hover {
      text-decoration: none;
      border-bottom-color: transparent;
      /**end article*** */
      /***resourses* */ }

.home_nav_section.about.article.resourses .about_text {
  height: 29%; }
  .home_nav_section.about.article.resourses .about_text h2 {
    font-size: 3em;
    max-width: 729px;
    letter-spacing: 0.05em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.5%; }
  .home_nav_section.about.article.resourses .about_text p {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0 11%;
    margin-bottom: 5%; }
  .home_nav_section.about.article.resourses .about_text span {
    font: 700 1.5em "Raleway", sans-serif;
    color: #fff; }

.article_note.resourses a {
  display: block; }
  .article_note.resourses a:hover p {
    color: #51719D; }
.article_note.resourses h4 {
  font: 700 2.7em "Raleway", sans-serif;
  margin-bottom: 6.5%; }
.article_note.resourses .left_side {
  width: 54%;
  margin-right: 5%; }
  .article_note.resourses .left_side .title {
    font-size: 2.7em;
    padding-right: 14%;
    margin-bottom: 6%; }
  .article_note.resourses .left_side .date {
    margin-bottom: 14%; }
  .article_note.resourses .left_side div img {
    margin-bottom: 7%;
    max-width: 775px;
    width: 100%; }
.article_note.resourses .right_side {
  width: 44%; }
  .article_note.resourses .right_side .all_img {
    width: 100%;
    display: flex;
    flex-flow: wrap; }
    .article_note.resourses .right_side .all_img div {
      width: 45%; }
      .article_note.resourses .right_side .all_img div:nth-child(2n+1) {
        margin-right: 9%; }
    .article_note.resourses .right_side .all_img p {
      font-weight: 700;
      font-size: 2em;
      margin-top: 15%;
      margin-bottom: 38%; }

.bring_visual_value.membership.resourses {
  padding-top: 8%;
  padding-bottom: 12%; }
  .bring_visual_value.membership.resourses .text_visual_value .image_visual_value {
    margin-top: -2%;
    width: 47%;
    margin-left: -10%; }
    .bring_visual_value.membership.resourses .text_visual_value .image_visual_value img {
      max-width: 539px; }
  .bring_visual_value.membership.resourses .right_side {
    width: 53%;
    margin-top: 11%; }
    .bring_visual_value.membership.resourses .right_side a {
      color: #2E3B4D;
      display: inline-block;
      line-height: 2em;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #2E3B4D;
      transition: border-bottom-color 0.5s ease;
      font-weight: 700;
      /*hover************************************ */ }
      .bring_visual_value.membership.resourses .right_side a:hover {
        text-decoration: none;
        border-bottom-color: transparent; }

.featured_images_home.photographer {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  padding-left: 9%;
  /**radio** */ }
  .featured_images_home.photographer h3 {
    margin-bottom: 3%; }
  .featured_images_home.photographer .post {
    display: flex;
    flex-flow: wrap; }
  .featured_images_home.photographer .radio_post {
    display: flex;
    justify-content: center;
    padding-bottom: 8%; }
    .featured_images_home.photographer .radio_post span {
      margin-right: 19px; }
      .featured_images_home.photographer .radio_post span:last-child {
        margin-right: 0px; }
  .featured_images_home.photographer [type=radio]:not(:checked) + label,
  .featured_images_home.photographer [type=radio]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: #2E3B4D;
    font: 500 1.5em "Raleway", sans-serif; }
  .featured_images_home.photographer [type=radio]:not(:checked) + label:before, .featured_images_home.photographer [type=radio]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 2px solid #2E3B4D;
    background: transparent; }
  .featured_images_home.photographer [type=radio]:not(:checked) + label:after, .featured_images_home.photographer [type=radio]:checked + label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 16px;
    background-color: #2E3B4D;
    color: #2E3B4D;
    transition: all 0.2s;
    margin: 0; }
  .featured_images_home.photographer [type=radio]:disabled:not(:checked) + label:before, .featured_images_home.photographer [type=radio]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #2E3B4D;
    background-color: transparent; }
  .featured_images_home.photographer [type=radio]:checked + label:before {
    border: 2px solid #2E3B4D;
    /***end resourses* */ }

[type=radio]:not(:checked),
[type=radio]:checked {
  position: absolute;
  left: -9999px; }

[type=radio]:not(:checked) + label,
[type=radio]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  color: #2E3B4D; }

[type=radio]:not(:checked) + label:before,
[type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #2E3B4D;
  background: transparent; }

[type=radio]:not(:checked) + label:after,
[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  right: 24px;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-color: #2E3B4D;
  font-size: 21px;
  line-height: 23px;
  color: #2E3B4D;
  transition: all 0.2s; }

[type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

[type=radio]:disabled:not(:checked) + label:before,
[type=radio]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #2E3B4D;
  background-color: transparent; }

[type=radio]:checked + label:before {
  border: 2px solid #2E3B4D;
  /*end */ }

@media (max-width: 1600px) {
  /****homepage** */
  .bring_visual_value .text_visual_value h2, .featured_images_home h2, .featured_categories .text_featured_categories_home h2 {
    font-size: 6.1em; }

  .contact_us .logo_contact {
    margin-right: 0; }

  .contact_us h3 {
    max-width: 400px; } }
/****end homepage** */
@media (max-width: 1400px) {
  /****homepage** */
  body {
    font-size: 11px; } }
/****end homepage** */
@media (max-width: 1250px) {
  /****homepage** */
  .home_nav_section .menu_logo_login {
    flex-flow: wrap;
    top: 5.5%; }
    .home_nav_section .menu_logo_login .logo_home {
      width: 100%;
      order: -2;
      margin-bottom: 2%;
      text-align: center; }
      .home_nav_section .menu_logo_login .logo_home img {
        position: relative;
        width: 25px; }

  .home_nav_section input::-webkit-input-placeholder {
    font-size: 24px; }
  .home_nav_section input::-moz-placeholder {
    font-size: 24px; }
  .home_nav_section input:-moz-placeholder {
    font-size: 24px; }
  .home_nav_section input:-ms-input-placeholder {
    font-size: 24px; }

  .home_nav_section .search_sumbit {
    background-position-y: 63%;
    width: 32px;
    height: 5em;
    margin-right: 1em; }

  .home_nav_section input {
    font: 900 24px "Playfair Display", serif;
    line-height: 2em;
    width: 100%; }

  .home_nav_section .search_box {
    width: 355px; }

  body {
    font-size: 10px; }

  .featured_categories .text_featured_categories_home h2 {
    margin-right: 12%;
    padding-left: 7%; }

  /****end homepage** */
  /****about** */
  .home_nav_section.about .about_text {
    height: 32%; }

  @-moz-document url-prefix() {
    .white_space_contributor {
      margin-bottom: 30em; } }
  /****end about** */
  /****photographer** */
  .home_nav_section.photographer nav, .home_nav_section.photographer .logo_home {
    line-height: 20px; }
  .home_nav_section.photographer .logo_home {
    margin-top: 1%;
    margin-bottom: 1%; } }
/****end photographer** */
@media (max-width: 1100px) {
  body {
    font-size: 9px; }

  .home_nav_section.about .about_text {
    height: 36%; }

  .bring_visual_value.photographer .right_side .location {
    font-size: 2em; } }
@media (max-width: 1000px) {
  /****homepage** */
  body {
    font-size: 8px; }

  .lets_be_friends .left_side_lets_be_friends p {
    width: 90%; }

  .home_nav_section .menu_logo_login ul li a {
    font-size: 1.8em; }

  .contact_us .logo_contact a img {
    width: 60px; } }
/****end homepage** */
@media (max-width: 900px) {
  body {
    font-size: 7px; }

  .contact_us .company_pr a {
    font-size: 2em; }

  .contact_us div:first-child p {
    font-size: 2em; }

  .frequently_asked_questions .right_side div p, .frequently_asked_questions .left_side div p {
    width: 100%; } }
@media (max-width: 800px) {
  body {
    font-size: 6px; }

  .lets_be_friends.about.contributor.membership .left_side_lets_be_friends h2 {
    padding-bottom: 14%; }

  .home_nav_section.photographer {
    height: 104px; }

  /**article*** */
  .article_note {
    flex-direction: column; }
    .article_note .left_side {
      width: 100%;
      margin-right: 0; }
    .article_note .right_side {
      width: 100%; }

  .bring_visual_value.article {
    width: 70%; }

  .anithing_else {
    justify-content: center;
    padding: 4% 10%; }
    .anithing_else div {
      width: 100%; }

  .share_user {
    flex-direction: column; }
    .share_user .right_side {
      width: 100%;
      margin-left: 0;
      order: -1; }
    .share_user .left_side {
      margin-right: 0;
      width: 100%;
      text-align: center; }
      .share_user .left_side ul li:last-child {
        margin-right: 0; }

  .more_answers p {
    font-size: 2.2em; }

  /**end article*** */ }
@media (max-width: 700px) {
  /****homepage** */
  .bring_visual_value .text_visual_value {
    border-width: 5px; }

  .bring_visual_value .text_visual_value .image_visual_value {
    width: 100%; }
  @-moz-document url-prefix() {
    .bring_visual_value .text_visual_value .image_visual_value {
      margin-top: -10em; } }
  .bring_visual_value .right_side {
    width: 100%;
    margin-top: 4%;
    order: -1;
    text-align: center; }
  @-moz-document url-prefix() {
    .bring_visual_value .right_side {
      margin-top: 4em; } }
  .bring_visual_value .left_side {
    width: 100%;
    margin-right: 0;
    margin-top: 4%; }
  @-moz-document url-prefix() {
    .bring_visual_value .left_side {
      margin-top: 4em; } }
    .bring_visual_value .left_side p {
      font-size: 2.5em; }

  .featured_images_home {
    padding: 0 4%;
    padding-top: 6.4%; }
    .featured_images_home p {
      margin-bottom: 6%; }
  @-moz-document url-prefix() {
    .featured_images_home p {
      margin-bottom: 6em; } }
    .featured_images_home h2 {
      border-width: 5px; }

  .featured_categories .text_featured_categories_home, .lets_be_friends .left_side_lets_be_friends h2 {
    border-width: 5px; }

  .lets_be_friends .left_side_lets_be_friends {
    margin-bottom: 7%; }
  @-moz-document url-prefix() {
    .lets_be_friends .left_side_lets_be_friends {
      margin-bottom: 7em; } }
  .contact_us .logo_contact {
    width: 50%;
    margin-top: 0; }

  .featured_categories .text_featured_categories_home h2 {
    padding-left: 0; }

  .featured_categories .text_featured_categories_home {
    padding-top: 4.5%;
    flex-direction: column; }
    .featured_categories .text_featured_categories_home h2 {
      padding-left: 0;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-bottom: 4%; }
  @-moz-document url-prefix() {
    .featured_categories .text_featured_categories_home h2 {
      margin-bottom: 1em; } }
  .featured_categories .images_featured_categories {
    margin-top: -26.5%; }

  /****end homepage** */
  /****about** */
  .home_nav_section.about .about_text {
    width: 90%; }

  .featured_categories.about .text_featured_categories_home h2 {
    text-align: left; }

  .lets_be_friends.about.contributor .left_side_lets_be_friends h2 {
    font-size: 3.5em;
    padding-bottom: 12%; }

  /****end about** */
  /***membership* */
  .bring_visual_value.membership .right_side {
    text-align: left; } }
/***end membership* */
@media (max-width: 531px) {
  /****homepage** */
  .home_nav_section .search_box {
    width: 222px;
    padding: 0; }

  .home_nav_section input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 100%; }
  .home_nav_section input::-moz-placeholder {
    font-size: 14px; }
  .home_nav_section input:-moz-placeholder {
    font-size: 14px; }
  .home_nav_section input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 100%; }

  .home_nav_section .search_sumbit {
    width: 17px;
    height: 3em; }

  .home_nav_section .menu_logo_login ul li {
    margin-right: 9px; }

  .home_nav_section .login_button {
    border-width: 1px; }

  .home_nav_section .menu_logo_login ul li a {
    line-height: 2.3em; }

  .home_nav_section input {
    font-size: 14px; }

  .featured_images_home .text_featured_images_home {
    width: 90%;
    margin: 0 auto; }

  .featured_images_home h2 {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 4%;
    margin-bottom: 5%; }

  .featured_images_home .img_featured_1 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%; }
  @-moz-document url-prefix() {
    .featured_images_home .img_featured_1 {
      margin-bottom: 2em; } }
  .featured_images_home .img_featured_2, .featured_images_home .img_featured_3, .featured_images_home .img_featured_4 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%; }
  @-moz-document url-prefix() {
    .featured_images_home .img_featured_2, .featured_images_home .img_featured_3, .featured_images_home .img_featured_4 {
      margin-bottom: 2em; } }
  .featured_categories {
    padding-bottom: 22.5%; }

  .featured_categories .images_featured_categories {
    flex-direction: column; }

  .featured_categories .images_featured_categories div {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 10%; }
  @-moz-document url-prefix() {
    .featured_categories .images_featured_categories div {
      margin-bottom: 5em; } }
  .featured_categories .images_featured_categories p {
    margin-top: 4%;
    text-align: center; }

  .featured_categories .images_featured_categories {
    margin-top: -324.5%; }

  .featured_categories .text_featured_categories_home {
    padding-bottom: 330%; }

  .featured_categories .images_featured_categories span {
    font-size: 2.4em; }

  .lets_be_friends {
    flex-direction: column; }

  .lets_be_friends .right_side_lets_be_friends {
    order: -2;
    margin-bottom: 8.3%;
    height: 100%;
    width: 100%; }
  @-moz-document url-prefix() {
    .lets_be_friends .right_side_lets_be_friends {
      margin-bottom: 7em;
      margin-top: -8em; } }
  .lets_be_friends .left_side_lets_be_friends {
    width: 100%;
    height: 100%; }
    .lets_be_friends .left_side_lets_be_friends h2 {
      margin-top: 0;
      padding-top: 10%;
      padding-bottom: 10%;
      position: relative; }
    .lets_be_friends .left_side_lets_be_friends p {
      font-size: 2.5em;
      margin-top: 8%;
      width: 100%;
      margin-bottom: 4%; }
    .lets_be_friends .left_side_lets_be_friends span {
      width: 100%;
      display: inline-block;
      text-align: center; }
      .lets_be_friends .left_side_lets_be_friends span a {
        font-size: 3em; }

  .contact_us {
    flex-flow: wrap;
    padding-bottom: 10%; }
    .contact_us div {
      margin-right: 5%;
      margin-left: 5%; }
    .contact_us .logo_contact {
      width: 100%;
      order: -2;
      margin: 0;
      margin-bottom: 3%; }
      .contact_us .logo_contact h3 {
        margin-top: 5%;
        margin-bottom: 4%; }
      .contact_us .logo_contact a {
        font-size: 2em; }

  /****end homepage** */
  /****about** */
  .home_nav_section.about .about_text {
    height: 14%; }
    .home_nav_section.about .about_text h2 {
      margin-bottom: 2.5%;
      font-size: 3.7em; }
    .home_nav_section.about .about_text p {
      padding: 0;
      font-size: 1.7em; }

  .featured_categories.about .text_featured_categories_home {
    padding-bottom: 200%; }

  .featured_categories.about .images_featured_categories {
    margin-top: -194.5%; }

  .featured_categories.about .images_featured_categories div h4 {
    padding-left: 0;
    text-align: center;
    font-size: 3em;
    padding-top: 11.5%; }

  .featured_categories.about .images_featured_categories div p {
    padding-right: 7%;
    padding-left: 7%;
    font-size: 2em;
    text-align: left;
    margin-top: 8%; }

  .frequently_asked_questions .left_side, .frequently_asked_questions .right_side {
    width: 100%; }

  .frequently_asked_questions .right_side div {
    margin-left: 0; }

  .frequently_asked_questions .left_side {
    margin-bottom: 0; }

  .lets_be_friends.about.contributor .right_side_lets_be_friends, .lets_be_friends.about.contributor .left_side_lets_be_friends {
    width: 100%; }

  .lets_be_friends.about.contributor .left_side_lets_be_friends h2 {
    left: 0;
    padding-top: 10%;
    padding-bottom: 10%; }
  .lets_be_friends.about.contributor .left_side_lets_be_friends p {
    margin-top: 8%;
    padding-left: 0; }
  .lets_be_friends.about.contributor .left_side_lets_be_friends span {
    padding-left: 0; }

  .frequently_asked_questions p {
    width: 100%;
    margin-bottom: 7%; }

  @-moz-document url-prefix() {
    .white_space_contributor {
      margin-bottom: 22em; } }
  /****end about** */
  /*****membership* */
  .lets_be_friends.about.contributor.membership .left_side_lets_be_friends h2 {
    text-align: center;
    padding-left: 0; }
    .lets_be_friends.about.contributor.membership .left_side_lets_be_friends h2 span {
      display: inline;
      padding: 0; }
  .lets_be_friends.about.contributor.membership .left_side_lets_be_friends p {
    margin-top: 8%;
    margin-bottom: 4%; }
  .lets_be_friends.about.contributor.membership .right_side_lets_be_friends {
    margin-bottom: 8.3%; }
  @-moz-document url-prefix() {
    .lets_be_friends.about.contributor.membership .right_side_lets_be_friends {
      margin-bottom: 7em;
      margin-top: -6em; } }
  .featured_categories.about.membership .images_featured_categories div .text {
    text-align: left; }
  .featured_categories.about.membership .images_featured_categories div p {
    text-align: center; }

  .bring_visual_value.membership {
    width: 83%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18%; }
    .bring_visual_value.membership .text_visual_value {
      flex-flow: inherit;
      flex-direction: column;
      padding: 6% 9%; }
      .bring_visual_value.membership .text_visual_value .image_visual_value {
        width: 100%;
        margin-left: 0;
        margin-top: -25%;
        height: 100%; }
  @-moz-document url-prefix() {
    .bring_visual_value.membership .text_visual_value .image_visual_value {
      margin-top: -10em;
      margin-bottom: 4em; } }
    .bring_visual_value.membership .right_side {
      width: 100%;
      margin-left: 0; }
  @-moz-document url-prefix() {
    .bring_visual_value.membership .right_side .name {
      margin-bottom: 0.5em;
      margin-top: 0.2em; } }
      .bring_visual_value.membership .right_side .name, .bring_visual_value.membership .right_side .location {
        text-align: center; }

  .frequently_asked_questions.membership h4 {
    text-align: center;
    font-size: 2.5em; }

  /*****end membership* */
  .contact_us div {
    width: 5%; }
  .contact_us .all_right {
    width: 67%; }

  /***photographer* */
  .featured_images_home.photographer .text_featured_images_home .img_featured_1, .featured_images_home.photographer .text_featured_images_home .img_featured_2 {
    width: 80%; }

  .bring_visual_value.photographer .text_visual_value .image_visual_value {
    text-align: center; }
    .bring_visual_value.photographer .text_visual_value .image_visual_value img {
      max-width: 180px;
      height: 100%; }
  .bring_visual_value.photographer .text_visual_value .right_side {
    margin-top: 5%;
    margin-right: 0; }
  .bring_visual_value.photographer .text_visual_value ul {
    text-align: center; }

  .home_nav_section.photographer {
    height: 93px; }

  .featured_images_home p a {
    font-size: 3em; }

  .featured_images_home.photographer h3 {
    font-size: 3.5em;
    /***end photographer* */ }

  /****article* */
  .share_user .left_side {
    padding-top: 7%;
    /****article* */ }
  @-moz-document url-prefix() {
    .share_user .left_side {
      padding-top: 4em; } } }
@media (max-width: 400px) {
  .featured_categories.about .text_featured_categories_home {
    padding-bottom: 297%; }

  .featured_categories.about .images_featured_categories {
    margin-top: -297.5%; }

  .home_nav_section.photographer {
    height: 87px; }

  .share_user .right_side img {
    max-width: 93px; } }

/*# sourceMappingURL=style.css.map */
